body{
    margin:0;
    padding:0;
}
.boxes{
   width: 100%;
   background-color: rgb(220, 228, 220);
   height: 712px;
   display: flex;
   justify-content: space-between;
}
.box{
    line-height: 10px;
    padding: 250px 0px 0px 50px;
}
.box h1{
   font-size: 70px;
   color: rgb(53, 119, 235);
}
.box p{
    color: #000;
    font-size: 22px;

}
.box1{
    border: 2px solid black;
    margin: 80px 200px 100px 0px;
    padding: 80px 50px 30px 50px;
    background-color: #fff;
    
}
.box1 input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
}
form .button1{
    margin-top: 20px;
    margin-left: 120px;
    font-size: 20px;
    padding: 3px 50px 2px 50px;
    background-color: rgb(56, 101, 235);
    color: #fff;
    border-radius: 5px;
}
.button1:hover{
    background-color: rgb(95, 95, 220);
}
.button2{
  margin-left: 130px;
  margin-top: 20px;
  padding: 8px 10px 8px 10px;
}
.box1 p{
   color:rgb(112, 185, 241);
   text-align: center;
   font-size: 20px;
}
.box1 p:hover{
    color: blue;
}
.box1 ul{
    list-style: none;
}
.box1 ul li a{
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin-left: 140px;
    transition: transform 1s;
}
.box1 ul li a:hover{
    transform: rotate(360deg) translateZ(0);
}
